<!--
<h2 class="text_centered group footer_catch_phrase">
  <br>
  The first bed and breakfast in Bali with its own skatepark!
  Hey, how about a bed and breakfast in Bali with its own skatepark!
</h2> -->

<footer class="footer">
  <div class="container">
    <div class="inner">

      <h1>{{ site.title }}</h1>

      <p class="resto_hours paragraph">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="clock">
          <use xlink:href="#icn--clock"></use>
        </svg>
        <a href="{{ site.google.maps }}">
          <span>Eating 9am > 9pm</span>
          </a>
      </p>
      <p class="bowl_hours paragraph">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="clock">
          <use xlink:href="#icn--clock"></use>
        </svg>
        <a href="{{ site.google.maps }}">
          <span>Skateboarding 3pm > 9pm</span>
          </a>
      </p>

      <p class="location paragraph">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="location">
          <use xlink:href="#icn--location"></use>
        </svg>
        <a href="{{ site.google.maps }}">
          <span>Map ESS Skate Bowl!</span>
          </a>
      </p>

      <p class="email paragraph">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="email">
          <use xlink:href="#icn--email"></use>
        </svg>
        <a href="mailto:{{ site.email }}">
          <span>{{ site.email }}</span>
        </a>
      </p>

      <p class="localphone paragraph">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="localphone">
          <use xlink:href="#icn--localphone"></use>
        </svg>
        <span>{{ site.telephone }}</span>
      </p>
      <p class="handphone paragraph">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="handphone">
          <use xlink:href="#icn--handphone"></use>
        </svg>
        <span>{{ site.handphone }}</span>
      </p>

      <p class="ess_qr paragraph">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="qr">
          <use xlink:href="#icn--QRessbalicom"></use>
        </svg>
      </p>

      <p class="copyright paragraph">
        <span>© 2016 {{ site.title_short }}</span>
      </p>
    </div>
  </div>
</footer>
