<div class="thumbs">

  <div class="thumb-wrap">
    <a href="{{ site.baseurl }}/works/faces/">
      <figure class="thumb">
        <figcaption>faces</figcaption>
        <img src="{{ site.baseurl }}/assets/p/thumbs/faces.jpg" alt="image" />
      </figure>
    </a>
  </div>

  <div class="thumb-wrap">
    <a href="{{ site.baseurl }}/works/places/">
      <figure class="thumb">
        <figcaption>places</figcaption>
        <img src="{{ site.baseurl }}/assets/p/thumbs/places.jpg" alt="image" />
      </figure>
    </a>
  </div>

  <div class="thumb-wrap">
    <a href="{{ site.baseurl }}/works/spaces/">
      <figure class="thumb">
        <figcaption>spaces</figcaption>
        <img src="{{ site.baseurl }}/assets/p/thumbs/spaces.jpg" alt="image" />
      </figure>
    </a>
  </div>

  <div class="thumb-wrap">
    <a href="{{ site.baseurl }}/works/tibet/">
      <figure class="thumb">
        <figcaption>tibet</figcaption>
        <img src="{{ site.baseurl }}/assets/p/thumbs/tibet.jpg" alt="image" />
      </figure>
    </a>
  </div>

</div>
