<div class="instagram_box group">

  <div class="insta_title">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="instagram">
      <use xlink:href="#icn--instagram"></use>
    </svg>
    <span>eatsleepskatebali</span>
  </div>

  <div class="content">
  	<div id="instagram-media" class="instagram"></div>
    <p><button class="load-more">Show</button></p>
  </div>

  <template id="instagram-image">
  	<div class="media image">
  		<a href="" target="_blank" title="">
  			<img src="" alt="" class="instagram-image" />
  		</a>
  	</div>
  </template>
  <template id="instagram-video">
  	<div class="media video">
  		<a href="" target="_blank" title=""><img src="" alt="" class="instagram-image" /></a>
  	</div>
  </template>

</div>
