<div class="instagram_box group">

  <div class="insta_title">
    <span>from our&nbsp;&nbsp;</span>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="instagram">
      <use xlink:href="#icn--instagram"></use>
    </svg>
    <span>eatsleepskatebali</span>
  </div>

  <div class="content">
  	<div id="instagram-media" class="instagram"></div>
    <p><button class="load-more">Show</button></p>
  </div>

  <template id="instagram-image">
  	<div class="media image">
  		<a class="instagram-out-link group" href="" target="_blank" title="See it on Instagram">
        <div class="instagram-image-wrap group">
          <img src="" alt="" class="instagram-image" />
        </div>
  		</a>
  	</div>
  </template>

  <template id="instagram-video">
  	<div class="media video">
  		<a class="instagram-out-link group" href="" target="_blank" title="See it on Instagram">
        <div class="instagram-video-wrap group">
          <img src="" alt="" class="instagram-image" />
        </div>
      </a>
  	</div>
  </template>

</div>
