
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  background-color: $body-color;
  overflow-x: hidden!important;

  font-family: sans-serif;
  font-size: $base-font-size-tiny;
  @include media( "screen", ">minWidth") {font-size: $base-font-size-min;}
  @include media( "screen", ">bp1Width") {font-size: $base-font-size-bp1;}
  @include media( "screen", ">maxWidth") {font-size: $base-font-size-max;}

  line-height: $base-line-height;
  font-weight: 500;
  @include media( "screen", ">minWidth") { font-weight: 400;}

}

body {
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:not(.no_underline) {
  color: $link-color;
  text-decoration: none;
  border-bottom: 2px solid lighten($link-color, 75%);

  strong {
    color: inherit;
  }
  /* :focus is linked to :hover for basic accessibility*/
  &:hover,
  &:focus {
    border-bottom: 2px solid lighten($link-color, 10%);
  }
  /* `:visited` state is usefull!*/
  &:visited {
    color: lighten($link-color, 30%)!important;
  }
}


input,
textarea,
button,
select,
label,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  &:focus { outline: -webkit-focus-ring-color auto 0px; }
}


p {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-right: .25rem;
  margin-left: .25rem;
  @include media( "screen", ">minWidth") {
    margin-right: .75rem;
    margin-left: .75rem;
  }
}


ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style-type: none;
}
dt {font-weight: 400;}
dd {margin-bottom: .5rem;}
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-bottom: 1px solid $black;
}

/*// Quotes*/
blockquote {
  padding: 0;
  padding-left: 1rem;
  margin: 0;
  color: #7a7a7a;
  border-left: .25rem solid ;
  p:last-child {
    margin-bottom: 0;
  }
}

/*// All images... hum!*/
img {
  display: block;
  max-width: 100%;
}

/*// Tables*/
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid ;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid ;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: white;
}

.hide {display: none;}

.group:before,
.group:after { content:""; display:table; }
.group:after { clear: both; }


.post-list { list-style-type: none; }
.post-date { display:none; }


/* Headings*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  @include media( "screen", ">minWidth") { font-weight: 300;}
  line-height: 1.25;
  letter-spacing: -.025rem;
  text-rendering: optimizeLegibility;
  /*text-transform: capitalize;*/
  color: $black;
  margin-top: $vertical-space;
  margin-bottom: $vertical-space-small;

}

h1 {
  font-size: 1.4rem;
  line-height: 2;
  @include media( "screen", ">minWidth") {
    font-size: 1.5rem;
    line-height: 1.25;
  }
  @include media( "screen", ">bp1Width") {font-size: 1.7rem;}
  @include media( "screen", ">maxWidth") {font-size: 1.85rem;}
}
h2 {
  // margin-top: 2.5rem;
  font-size: 1.5rem;
}
h3 {
  // margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  // margin-top: 1rem;
  font-size: 1rem;
}

.bungkus {
  height: 100vh;
  position: relative;
  padding: .75rem 0;
}

.container {
  margin: 0 auto;
  padding-left: .75rem;
  padding-right: .75rem;
  max-width: 1000px;
  .booking{
    @include media( "screen", ">minWidth") {
      margin-top: $vertical-space;
    }
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    > * {
      margin-left: .5rem;
      margin-right: .5rem;
    }
    svg {
      height: 40px;
      @include media( "screen", ">minWidth") {
        margin-top: $vertical-space-small/2;
      }
      @include media( "screen", ">bp1Width") {
        height: 100px;
      }
    }
  }
}

.imagecontent {
  margin: 0 auto;
  max-width: none;
  .about & {
    max-width: 1000px;
    margin-top: $vertical-space*2;
  }
}
.center {
  text-align: center;
}

.center_on_small {
  text-align: center;
  @include media( "screen", ">minWidth") {
    text-align: left;
  }
  p {text-align: center;}
}

.hide_on_small {
  display: none;
  @include media( "screen", ">bp1Width") {
    display: inline-block;
  }
}


.text_centered {
  width: 100%;
  text-align: center;
}

br.maybe {
  display: none;
}
