.button {
  display: inline-block;
  background-color: $blue;
  border-radius: 3px;

  &:active,
  &:hover {
    background-color: darken($blue, 10);
  }

  a {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    @include media( "screen", ">bp1Width") {
      padding-left: 10px;
      padding-right: 10px;
    }
    color: white;

    &:active,
    &:hover {
      border-bottom: 2px solid transparent;
    }
  }
}
p.button {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}
