.footer {
  background-color: rgba(0,0,0,.1);
  display: block;
  width: 100%;
  text-align: center;

  h1 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .container {
    min-height: 100vh;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
  p {
    margin-left: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: start;
            justify-content: flex-start;
  }
}
