.header {
  text-transform: uppercase;
  width: 100%;
  margin-bottom: .5rem;
  margin-top: 1rem;
  @include media( "screen", ">minWidth") {
    margin-top: 0;
  }
  .container {
    @include media( "screen", ">bp1Width"){
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: justify;
              justify-content: space-between;
    }
  }
  h1 {
    line-height: 1;
    padding-top: 3px;
    margin: 0;
    padding: 0;
  }
  .logoblock {/*a*/
    @include media( "screen", ">minWidth") {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: start;
              justify-content: flex-start;
      h1 {
        width: 100px;
      }
    }
  }

  a {
    width: 100%;
    border-bottom: 0 none;
    line-height: 1.5;
    text-align: center;
    @include media( "screen", ">minWidth") {
      text-align: left;
      float: left;
    }
  }
  .ess_logo {/*svg*/
    width: 100%;
    height: 90px;
    @include media( "screen", ">minWidth") {
      display: inline;
      float: left;
      width: auto;
      height: 110px;
      width: 120px;
      margin-right: 10px;
    }
  }

}
.menu {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  @include media( "screen", ">minWidth") {
    padding-top: 1rem;
    margin: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: end;
            justify-content: flex-end;
  }
  @include media( "screen", ">bp1Width"){
    margin: 0;
    width: auto;
  }

  li {
    display: inline;
    a {
      color: black;
      margin-right: 2vw;
      border-bottom: 2px solid transparent;
      white-space: nowrap;
      text-align: center;
    }
    a.active,
    a:hover {
      border-bottom: 2px solid lighten($link-color, 10%);
    }
    a:visited {
      color: lighten($link-color, 30%)!important;
    }
  }
}
