.insta_title {
  margin-top: $vertical-space;
  margin-bottom: $vertical-space;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.insta_title svg {
  width: 50px;
  height: 50px;
  min-width: 50px;
}

.instagram_box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  &:after,
  &:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.content {
  text-align: center;
  margin: 0 auto;
}

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .instagram-image-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .instagram-out-link {
    //a
    display: flex;
    flex-direction: column;
  }

  .media {
    margin: 0 1rem;
    position: relative;
    @include media("screen", ">minWidth") {
      min-width: 42vw;
      min-height: calc(42vw + 3rem);
      overflow: hidden;
      float: left;
      margin-bottom: 0.5rem;
    }
    @include media("screen", ">maxWidth") {
      // width: 28.3334%;
      // margin: 2.5%;
      min-width: 30vw;
      min-height: calc(30vw + 3rem);
    }

    &.video a:after,
    &.video a:before {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
    }

    &.video a:before {
      width: 48px;
      height: 48px;
      background: rgba(#000,0.5);
      border: 2px solid #fff;
      border-radius: 24px;
      -webkit-box-shadow: 0 0 4px rgba(#000,0.2);
      box-shadow: 0 0 4px rgba(#000,0.2);
      margin-top: -24px;
      margin-left: -24px;
    }

    &.video a:after {
      width: 16px;
      height: 12px;
      border: 12px solid transparent;
      border-left-width: 18px;
      border-left-color: #fff;
      margin-top: -12px;
      margin-left: -5px;
    }

    .instagram-image {
      //img
      width: 100%;
      height: auto;
      vertical-align: middle;
      padding-bottom: 10px;
      padding-right: 10px;
      padding-left: 10px;
      @include media("screen", ">minWidth") {
        padding-right: 0;
        padding-left: 0;
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        //partial centering
        top: -8%;
      }
    }

    .user {
      width: 48px;
      height: 48px;
      padding: 2px;
      background: #fff;
      border-radius: 4px;
      -webkit-box-shadow: 0 0 2px rgba(#000,0.2);
      box-shadow: 0 0 2px rgba(#000,0.2);
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }
}

.load-more {
  font-size: 1.4rem;
  line-height: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 24px;
  background: #ff6514;
  border: none;
  border-radius: 4px;
  outline: none;
}

.instagram-metas {
  //position: absolute;
  //bottom: 0;
  //padding-right: 10px;
  //text-align: center;
  //padding-bottom: 2px;
  //width: 100%;
  position: absolute;
  bottom: 0;
  width: 100%;

  padding-top: 2px;
  display: flex;
  background-color: white;
  height: 3rem;
  align-items: flex-start;
  justify-content: center;


  div {
    // max-width: 50%;
    // min-width: 50%;
    // float: left;
    padding-right: 20px;
    text-align: center;
  }
}

.instagram-likes:before {
  content: "♡ ";
}

.instagram-comments:before {
  content: "✎ ";
}

.instagram-caption-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 2rem;
  right: 0;
  padding: 0.5rem;
  background-color: rgba(255,255,255,.85);
  color: black;
  line-height: 1.1;
  display: none;

  a:hover & {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .instagram-caption {
    max-width: 80%;
    font-size: 14px;
    @include media("screen", ">bp1Width") {
      font-size: 17px;
    }
  }
}
