.menu {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  //padding-bottom: 1rem;
  border-top: 1px solid lighten($black, 70%);
  //border-bottom: 1px solid lighten($black, 70%);
  @include media( "screen", ">bp1Width") {
    padding-bottom: 0;
    border-top: 0 none;
    border-bottom:  0 none;

    padding-top: 1rem;
    margin: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
  }
  @include media( "screen", ">bp1Width") {
    margin: 0;
    width: auto;
  }

  li {
    display: inline;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    display: inline-block;
  }

  a {
    color: black;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    @include media( "screen", ">minWidth") {
      font-size: 18px;
    }
  }

  a.active,
  a:hover {
    border-bottom: 2px solid lighten($link-color, 10%);
  }

  a:visited {
    color: lighten($link-color, 30%)!important;
  }
}
