em { color: lighten($black, 40%);}
.header .no_underline {
  border: 0 none!important;
  text-decoration: none;
}
.box {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.small {
  padding-bottom: .75rem;
  padding-right: 0;
}

.events .small {
  padding-right: .75rem;
  @include media( "screen", ">bp1Width") {
    padding-right: 0;
  }
}

.skateschool,
.pizza{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.pizza {
  flex-wrap: wrap;
  @include media( "screen", ">minWidth") {
    figure { max-width: 50%; }
  }
  @include media( "screen", ">bp1Width") {
    figure { max-width: 32%; }
  }
}

.skateschool {
  flex-wrap: wrap;
  @include media( "screen", ">minWidth") {
    figure { max-width: 50%; }
  }
  @include media( "screen", ">bp1Width") {
    figure { max-width: 24%; }
  }
}

.us {
  flex-wrap: wrap;
}

.events,
.us,
.rooms {
   h2 {
     margin-top: $vertical-space;
     margin-bottom: $vertical-space-small;
     text-align: center;
   }
   .group {
    /*  margin-top: $vertical-space-small;*/
     margin-bottom: $vertical-space-small;
   }
}
.inline {
  display: inline-block;
}

.left {
  padding-right: 1rem;
  padding-right: 0;
  @include media( "screen", ">bp1Width") {
      padding-right: 1rem;
  }
}
.right {
  -webkit-box-ordinal-group: 3;
  order: 2;
  padding-left: 0;
  @include media( "screen", ">bp1Width") {
      padding-left: 1rem;
  }
}

.flex {
  width: 100%;
  img { width: 100%; }
  @include media( "screen", ">bp1Width") {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack:justify;
    justify-content:space-between;
    -webkit-box-align: center;
    align-items: center;
    p {
      max-width: 50%;
    }
  }
  .rooms & {
    figure {
      @include media( "screen", ">bp1Width") {
        padding-left: 1rem;
        &:first-child { padding-left: 0;}
      }
    }
  }
}

.white-gladak.flex {
  flex-wrap: wrap;
  figure {
    padding-left: 0;
    @include media( "screen", ">bp1Width") {
      width: 49%;
    }
    @include media( "screen", ">maxWidth") {
      width: 32%;
    }
  }
}
