.bizhours {
  width: calc(100% - 2rem);
  span {
    margin-right: 1rem;
    display: block;
    @include media( "screen", ">minWidth") {
      display: inline-block;
    }
  }
}

.fullWidthtoggler {
  padding: 6px 10px;
  border: 1px solid black;
  text-transform: uppercase;
  display: inline-block;
  font-size: $base-font-size-tiny;
  line-height: 1;
  &:hover {
   cursor: pointer;
 }
}
