.footer svg {
  position: static;
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}

.bookingdotcom {
  width: 200px;
  height: 70px;
}

.tripadvisor {
  height: 120px;
  margin-bottom: 1rem;
}
.event_time svg,
.event_location svg,
.bookingdetails svg{
  width: 30px;
  height: 30px;
  position: relative;
  top:.5rem;
}

.bookingdetails svg{

}
