---

---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body class="us">

    {% include svg/defs.html %}

    <div class="bungkus group">

      {% include header.html %}

      <div class="container content">

        <h2>The first bed and breakfast in Bali with its own skatepark!</h2>

        <div class="flex">

          <figure class="small left">
            <img src="{{ site.url }}/assets/p/about/03.jpg" alt="We designed it all ourselves in harmony..." />
          </figure>

          <p>Consisting of 4 different types of traditional wooden chalets, a swimming pool, a dining/lounge area, and one of the most fun skateboarding bowls in Indonesia. <a class="inline" href="{{site.google.maps}}">Located 10 minutes from Sanur</a> east coast beaches, in the old gardens of the Kesiman Royal Family.</p>

        </div>

        <div class="flex">

          <figure class="small right">
            <img src="{{ site.url }}/assets/p/about/01.jpg" alt="We designed it all ourselves in harmony..." />
          </figure>

          <p>We designed it all ourselves in harmony with it’s peaceful green environment. The traditional atmosphere still fills the air today, with only the sound of birds and breeze blowing through the trees. It’s a very special place. For nearly 10 years, we had let anyone ride the bowl freely, 4 days a week.</p>

        </div>

        <div class="flex">

          <figure class="small left">
            <img src="{{ site.url }}/assets/p/about/04.jpg" alt="We designed it all ourselves in harmony..." />
          </figure>

          <p>Those days were good, we saw many good sessions and parties happen here… a whole local skate scene was founded around our bowl. Back then, there was no facility for the public, like bathroom and cold beer. Only bananas and coconut trees.</p>

        </div>

        <div class="flex">

          <figure class="small right">
            <img src="{{ site.url }}/assets/p/about/02.jpg" alt="We designed it all ourselves in harmony..." />
          </figure>

          <p>We then decided to make it special. Restaurant with a fast  WiFi, pizza oven, cozy rooms and a swimming-pool. A homestay where you can Eat Sleep and Skate. Nowadays you can have food and cold beer from 9am to 9pm. Skatepark is also open everyday from 9am to 9pm (sometimes later on good sessions!). Pizza and free entry on Fridays.</p>

        </div>

        <div class="social_links">

          <h2>We are Social!</h2>

          <p>And probably you are too. We regularly post updates on a few social networks. Don't lose any news, follow us in your social network of choice:</p>

          <p class="flex">
            <a href="https://www.instagram.com/{{ site.instagram }}">
              <span>Instagram</span>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="instagram">
                <use xlink:href="#icn--instagram"></use>
              </svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="qr-instagram">
                <use xlink:href="#icn--qr-ess-instagram"></use>
              </svg>
            </a>
          </p>
          <p class="flex">
            <a href="https://www.facebook.com/{{ site.facebook }}">
              <span>Facebook</span>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="facebook">
                <use xlink:href="#icn--facebook"></use>
              </svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="qr-facebook">
                <use xlink:href="#icn--qr-ess-facebook"></use>
              </svg>
            </a>
          </p>
          <p class="flex">
            <a href="https://twitter.com/{{ site.twitter }}">
              <span>&nbsp;&nbsp;Twitter&nbsp;&nbsp;&nbsp;</span>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="twitter">
                <use xlink:href="#icn--twitter"></use>
              </svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="qr-twitter">
                <use xlink:href="#icn--qr-ess-twitter"></use>
              </svg>
            </a>
          </p>
          <p class="flex">
            <a href="https://www.youtube.com/channel/{{ site.google.youtube }}">
              <span>YouTube</span>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="youtube">
                <use xlink:href="#icn--youtube"></use>
              </svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="qr-youtube">
                <use xlink:href="#icn--qr-ess-youtube"></use>
              </svg>
            </a>
          </p>
        </div>
      </div>

      {% include footer.html %}

    </div>

    {% include script_ext_link.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
