---

---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body class="events">

    {% include svg/defs.html %}

    <div class="bungkus group">

      <div class="container">

        {% include header.html %}

      </div>

      <div class="container">

        <h2 id="skate-school">Skate School</h2>

        <p>Private skate lessons for beginners and intermediate with experienced instructor.</p>

        {% include skateschool.html %}

        <p>On weekdays after school – Rp. 400 000/month – contact us for more information.</p>

        <p>Members get free access to weekend sessions!</p>

        <p>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="clock">
            <use xlink:href="#icn--clock"></use>
          </svg>
          3:30pm - 6:00pm. Monday to Thursday</p>

        <p>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="location">
            <use xlink:href="#icn--location"></use>
          </svg>
          <a href="{{site.google.maps}}">ESS Bali, Jl. Sedap Malam, Gg. Kwangen No.13, Banjar Bhuana Anyar, Sanur</a></p>

        <h2 id="friday-night-pizza">Friday Night Pizza</h2>

        <p>We make wood fired pizzas and have skate parties every Friday night!</p>

        {% include pizza.html %}

        <p>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="clock">
            <use xlink:href="#icn--clock"></use>
          </svg>
          6pm - 10pm</p>

        <p>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="location">
            <use xlink:href="#icn--location"></use>
          </svg>
          <a href="{{site.google.maps}}">ESS Bali, Jl. Sedap Malam, Gg. Kwangen No.13, Banjar Bhuana Anyar, Sanur</a></p>

      </div>

      <div class="container">
        {% include footer.html %}
      </div>

    </div>

    {% include script_ext_link.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
