---

---
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

{% include head.html %}

  <body class="events">

    {% include svg/defs.html %}

    <div class="bungkus group">

      {% include header.html %}

      <div class="container content">

        <div class="section">

          <h2 id="skate-school">Skate School</h2>

          <p>Private skate lessons for beginners and intermediate with experienced instructors.</p>

          {% include skateschool.html %}

          <p>On weekdays after school – Rp. 400 000/month – contact us for more information.</p>

          <p>Members get free access to weekend sessions!</p>

          <p class="event_time">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="clock">
              <use xlink:href="#icn--clock"></use>
            </svg>
            4:00pm - 6:00pm. Monday to Thursday</p>

          <p class="event_location">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="location">
              <use xlink:href="#icn--location"></use>
            </svg>
            <a class="link-underline" href="{{site.google.maps}}">ESS Bali, Jl. Sedap Malam, Gg. Kwangen No.13, Sanur</a></p>

        </div>

        <div class="section">

          <h2 id="pizza-fridays">Friday Night Pizza</h2>

          <p>We make wood fired pizzas and have skate parties every Friday night!</p>

          {% include pizza.html %}

          <p class="event_time">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="clock">
              <use xlink:href="#icn--clock"></use>
            </svg>
            6pm - 10pm</p>

          <p class="event_location">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="location">
              <use xlink:href="#icn--location"></use>
            </svg>
            <a class="link-underline" href="{{site.google.maps}}">ESS Bali, Jl. Sedap Malam, Gg. Kwangen No.13, Sanur</a></p>

        </div>

      </div>

      {% include footer.html %}

    </div>

    {% include script_ext_link.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
