---

---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="rooms">

    {% include svg/defs.html %}

    <div class="bungkus group">

      {% include header.html %}

      <div class="container content">

        <div class="section roomsdetails group">

          <h2 id="barong">Barong <span id="fullWidthtoggler_barong" class="fullWidthtoggler">see it big</span></h2>

          <div id="barong_block" class="barong flex">
            {% for image in site.static_files %} {% if image.path contains 'barong' %}
            <figure class="small ">
              <img src="{{ site.baseurl }}{{ image.path }}" alt="Barong room at Eat Sleep Skate Bali" />
            </figure>
            {% endif %} {% endfor %}
          </div>

          <p>A traditional wooden house with terrace overlooking tropical garden and swimming pool, 2 double beds and an en-suite bathroom with W.C., shower, and double basins. Perfect for small families or 2 couples.</p>

          <p>{% include svg/use.html id="icn--people" class="people" %} 4</p>

          <p>{% include svg/use.html id="icn--store" class="store" %} 50sqm</p>

          <p>{% include svg/use.html id="icn--view" class="view" %} Garden and Swimming pool </p>

          <p class="button"><a href="{{site.booking_link}}">Book this room</a></p>

        </div>

        <div class="section roomsdetails group">

          <h2 id="gadlak">Gladak <span id="fullWidthtoggler_gadlak" class="fullWidthtoggler">see it big</span></h2>

          <div id="gadlak_block" class="gladak flex">
            {% for image in site.static_files %} {% if image.path contains 'brown-gladak' %}
            <figure class="small ">
              <img src="{{ site.baseurl }}{{ image.path }}" alt="Gladak room at Eat Sleep Skate Bali" />
            </figure>
            {% endif %} {% endfor %}
          </div>

          <p>A traditional wooden chalet with terrace overlooking tropical garden and swimming pool, a double bed and an en-suite bathroom with W.C., shower, and basins.</p>

          <p>{% include svg/use.html id="icn--people" class="people" %} 2 </p>

          <p>{% include svg/use.html id="icn--store" class="store" %} 35-40sqm / 375-430sqf</p>

          <p>{% include svg/use.html id="icn--view" class="view" %} Garden and Swimming pool</p>

          <p class="button"><a href="{{site.booking_link}}">Book this room</a></p>

        </div>

        <div class="section roomsdetails group">

          <h2 id="white-gadlak">White Gladak <span id="fullWidthtoggler_whitegadlak" class="fullWidthtoggler">see it big</span>
          </h2>


          <div id="whitegadlak_block" class="white-gladak flex">
            {% for image in site.static_files %} {% if image.path contains 'white-gladak' %}
            <figure class="small ">
              <img src="{{ site.baseurl }}{{ image.path }}" alt="White Gladak room at Eat Sleep Skate Bali" />
            </figure>
            {% endif %} {% endfor %}
          </div>

          <p>A traditional wooden chalet with terrace overlooking tropical garden and swimming pool, with 2 twin beds and an en-suite bathroom with W.C., shower, and basins.</p>

          <p>{% include svg/use.html id="icn--people" class="people" %} 2</p>

          <p>{% include svg/use.html id="icn--store" class="store" %} 35-40sqm / 375-430sqf</p>

          <p>{% include svg/use.html id="icn--view" class="view" %} Garden and Swimming pool</p>

          <p class="button"><a href="{{site.booking_link}}">Book this room</a></p>

        </div>

        <div class="section roomsdetails group">

          <h2 id="joglo">Joglo <span id="fullWidthtoggler_joglo" class="fullWidthtoggler">see it big</span>
          </h2>


          <div id="joglo_block" class="joglo flex">
            {% for image in site.static_files %} {% if image.path contains 'joglo' %}
            <figure class="small ">
              <img src="{{ site.baseurl }}{{ image.path }}" alt="Joglo room at Eat Sleep Skate Bali" />
            </figure>
            {% endif %} {% endfor %}
          </div>

          <p>A traditional wooden house with terrace overlooking tropical garden and swimming pool, a double bed, a sofa/daybed and an en suite bathroom with W.C, shower, and double basins. Perfect for 1 person.</p>

          <p>{% include svg/use.html id="icn--people" class="people" %} 3</p>

          <p>{% include svg/use.html id="icn--store" class="store" %} 50sqm / 162sqf</p>

          <p>{% include svg/use.html id="icn--view" class="view" %} Garden and Swimming pool</p>

          <p class="button"><a href="{{site.booking_link}}">Book this room</a></p>

        </div>

        <div class="section bookingdetails group">

          <h2 id="checking-in-and-out">Checking In and Out</h2>

          <p class="text_centered bizhours">

            <span>
              {% include svg/use.html id="icn--clock" class="clock" %}
              <em>Check In:</em> 14.00
            </span>

            <span>
              {% include svg/use.html id="icn--clock" class="clock" %}
              <em>Check Out:</em> 12.00
            </span>

          </p>

          <p>Want to continue using the room after checkout time because of an evening - or night flight? This might be possible depending on occupancy. Please consult our management. It will be free of charge until 16:00.</p>

          <p>After 16:00, the full room rate will be charged. In all cases your luggage can be safely stored and all facilities can be freely used.</p>

        </div>

        <div class="section bookingdetails group">

          <h2 id="breakfast">Breakfast</h2>

          <p class="text_centered bizhours">
            <span>
              {% include svg/use.html id="icn--clock" class="clock" %}
              <em>Breakfast:</em> 7.30
            </span>
          </p>

          <p>Our guests can order breakfast starting at 7.30am. It can be delivered to the room.</p>

        </div>

        <div class="section bookingdetails group">

          <h2 id="Skateboarding">Skateboarding</h2>

          <p class="text_centered bizhours">
            <span>
              {% include svg/use.html id="icn--clock" class="clock" %}
              <em>Skateboarding:</em> 9:00am - 9:00pm
            </span>
          </p>

          <p>Our guests can use the bowl everyday with no need to pay the skateboarding fee. If you want your kid to have private <a class="link-underline" href="{{ site.baseurl }}/events/#skate-school">skateboarding lessons</a> you can! We offer a skate
            school for beginners and intermediate with experienced instructors.</p>

        </div>

        <div class="section bookingdetails group">

          <h2 id="deposit-and-payment-policy">Deposit and Payment Policy</h2>

          <p>We require deposit of 50% at the time of booking if the booking is earlier than 31 days before check in. The balance is due 31 days before check in. Full payment is required if the booking is made less than 30 days before check in.  We accept Visa or Mastercard. </p>

          <p>Room rates are subject to change without prior notification, confirmed reservations will not be affected.</p>

        </div>

        <div class="section bookingdetails group">

          <h2 id="cancellation-policy">Cancellation Policy</h2>

          <p>50% will be charged if the reservation is cancelled 30 days prior arrival. If the reservation is cancelled closer to the arrival date no refund.</p>


        </div>

      </div>

      {% include footer.html %}

    </div>

    {% include script_ext_link.html %}

    {% include script_toggle_barong.html %}

    {% include script_toggle_gadlak.html %}

    {% include script_toggle_joglo.html %}

    {% include script_toggle_whitegadlak.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
