---

---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body class="rooms">

    {% include svg/defs.html %}

    <div class="bungkus group">

      <div class="container">

        {% include header.html %}

      </div>

      <div class="container booking">

          <a class="no_underline" href="http://booking.com/e682abb837ed8f61f">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="bookingdotcom">
              <use xlink:href="#icn--bookingdotcom"></use>
            </svg>
          </a>
          <a class="floatleft" href="http://booking.com/e682abb837ed8f61f">Check availability and place your booking.</a>

      </div>

      <div class="container">

        <h2 id="barong">Barong</h2>

        <div class="barong flex">
          {% for image in site.static_files %}
            {% if image.path contains 'barong' %}
              <figure class="small ">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="Barong room at Eat Sleep Skate Bali" />
              </figure>
            {% endif %}
          {% endfor %}
        </div>

        <p>A traditional wooden house with terrace overlooking tropical garden and swimming pool, 2 double beds and an en-suite bathroom with W.C, shower, and double basins. Perfect for small families or 2 couples.</p>

        <p>Occupancy: 4</p>

        <p>Size: 50sqm</p>

        <p>View: Garden &amp; swimming pool</p>

        <h2 id="gladak">Gladak</h2>

        <div class="gladak flex">
          {% for image in site.static_files %}
            {% if image.path contains 'brown-gladak' %}
              <figure class="small ">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="Gladak room at Eat Sleep Skate Bali" />
              </figure>
            {% endif %}
          {% endfor %}
        </div>

        <p>A traditional wooden chalet with terrace overlooking tropical garden and swimming pool, a double bed and an en-suite bathroom with W.C, shower, and basins.</p>

        <p>Occupancy: 2</p>

        <p>Size: 35-40sqm / 375-430sqf</p>

        <p>View: Garden &amp; swimming pool</p>


        <h2 id="white-gladak">White Gladak</h2>

        <div class="white-gladak flex">
          {% for image in site.static_files %}
            {% if image.path contains 'white-gladak' %}
              <figure class="small ">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="White Gladak room at Eat Sleep Skate Bali" />
              </figure>
            {% endif %}
          {% endfor %}
        </div>

        <p>A traditional wooden chalet with terrace overlooking tropical garden and swimming pool, with 2 twin beds and an en-suite bathroom with W.C, shower, and basins.</p>

        <p>Occupancy: 2</p>

        <p>Size: 35-40sqm / 375-430sqf</p>

        <p>View: Garden &amp; swimming pool</p>

        <h2 id="joglo">Joglo</h2>

        <div class="joglo flex">
          {% for image in site.static_files %}
            {% if image.path contains 'joglo' %}
              <figure class="small ">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="Joglo room at Eat Sleep Skate Bali" />
              </figure>
            {% endif %}
          {% endfor %}
        </div>

        <p>A traditional wooden house with terrace overlooking tropical garden and swimming pool, a double bed, a sofa/daybed and an en suite bathroom with W.C, shower, and double basins. Perfect for 1 person.</p>

        <p>Occupancy: 3</p>

        <p>Size: 50sqm / 162sqf</p>

        <p>View: Garden / Swimming pool</p>
      </div>

      <div class="container">

        <h2 id="checking-in-and-out">Checking In and Out</h2>

        <p>
          <em>Check In Time 14.00</em>
          <br>
          <em>Check Out Time 12.00</em>
        </p>

        <p>Want to continue using the room after checkout time because of an evening - or night flight? This might be possible depending on occupancy. Please consult our management. It will be free of charge until 16:00.</p>

        <p>After 16:00, the full room rate will be charged. In all cases your luggage can be safely stored and all facilities can be freely used.</p>

        <h3 id="nbsp-2"> </h3>

        <h3 id="deposit-and-payment-policy">Deposit and Payment Policy</h3>

        <p>We do not require a deposit, only a booking guarantee. The credit card details, you are asked to enter during the booking procedure, are used for the booking guarantee.<br>
        Nothing will charged to your account at the booking stage however.<br>
        Full payment will happen at check-out at the resort. We accept Visa, MasterCard or cash payment.</p>

        <p>Room rates are subject to change without prior notification, confirmed reservations will not be affected.</p>

        <h3 id="nbsp-3"> </h3>

        <h3 id="cancellation-policy">Cancellation Policy</h3>

        <p>Free cancellation must be received within 14 days, or more, prior to arrival. (Depending on the rate plan booked)</p>

        <p>If the reservation is cancelled closer to the arrival date, 100% of the first night will be charged. (Depending on the rate plan booked)</p>

        <p>In case of a no-show, a cancellation fee, equal to the number of nights cancelled, will be charged.</p>


      </div>

      <div class="container">
        {% include footer.html %}
      </div>

    </div>

    {% include script_ext_link.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
