---

---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body class="us">

    {% include svg/defs.html %}

    <div class="bungkus group">

      <div class="container">

        {% include header.html %}

      </div>

      <div class="container">

        <h2>The first bed and breakfast in Bali with its own skatepark!</h2>

        <div class="group">

          <figure class="small left">
            <img src="{{ site.url }}/assets/p/us/03.jpg" alt="We designed it all ourselves in harmony..." />
          </figure>

          <p>Consisting of 4 different types of traditional wooden chalets, a swimming pool, a dining/lounge area, and one of the most fun skateboarding bowls in Indonesia. <a class="inline" href="{{site.google.maps}}">Located 10 minutes from Sanur</a>  east coast beaches, in the old gardens of the Kesiman Royal Family.</p>

        </div>

        <div class="group">

          <figure class="small right">
            <img src="{{ site.url }}/assets/p/us/01.jpg" alt="We designed it all ourselves in harmony..." />
          </figure>

          <p>We designed it all ourselves in harmony with it’s peaceful green environment. The traditional atmosphere still fills the air today, with only the sound of birds and breeze blowing through the trees. It’s a very special place. For nearly 10 years, we had let anyone ride the bowl 4 days a week for free.</p>

        </div>

        <div class="group">

          <figure class="small left">
            <img src="{{ site.url }}/assets/p/us/04.jpg" alt="We designed it all ourselves in harmony..." />
          </figure>

          <p>Those days were good, we saw many good sessions and parties happen here… a whole local skate scene was founded around our bowl. Back then, there was no facility for the public, like bathroom and cold beer...</p>

        </div>

        <div class="group">

          <figure class="small right">
            <img src="{{ site.url }}/assets/p/us/02.jpg" alt="We designed it all ourselves in harmony..." />
          </figure>

          <p>So we decided to make it a one of a kind type of homestay with a restaurant and fast and free WiFi available in all areas. A place where you can Eat Sleep and Skate. Nowadays, the skatepark is open to public on weekends from 4pm to 10pm. It is reserved to our guest for the rest of the time.</p>

        </div>


        <h2>We're Social</h2>

        <p>And probably you are too. So follow us in your social network of choice:</p>

        <a href="{{ "site.instagram" | prepend: site.url }}">Instagram</a><br>
        <a href="{{ site.facebook }}">Facebook</a><br>
        <a href="{{ site.twitter }}">Twitter</a><br>
        <a href="{{ site.youtube }}">YouTube</a>

      </div>

      <div class="container">
        {% include footer.html %}
      </div>

    </div>

    {% include script_ext_link.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
